

h1{
    color: #FF0000;
    background-color: rgba(255, 00, 00, 0.4);
   
}
h2{
    color: #ffa500dd ;
    background-color: rgb(230, 130, 43);
}
h3{
    color: #ff1;
    background-color:#ff03 ;
}
h4{
    color: #080f;
    background-color: #046d1222;
}
h5{
    color: rgb(24, 9, 92);
    background-color: #2596;
}
h6{
    color: rgba(90, 13, 141, 0.6);
    background-color: #a473d1;
}
p{
    color: #ee82ee;
    background-color: #ffeeff ;
}
#one{
    color: hotpink;
}

#tres{
    background-color: peachpuff;
}
.bird{
    border: green;
    border-style: solid;
    border-width: 5px;
    
  
}